@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --dot-animation-time: 4s;
  --dot-animation-delay: 0.175s;
  --text-animation-time: 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animation-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* resize the whole animation */
  font-size: 1rem;
}

.loading-text {
  opacity: 0;
  font-size: 3em;
  font-weight: bold;
  animation: text-fade var(--text-animation-time) ease-in-out infinite;
}

.loading-dot {
  opacity: 0;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background-color: black;
}

.dot-1 {
  animation: dot-spin var(--dot-animation-time) ease-in-out infinite;
}
.dot-2 {
  animation: dot-spin var(--dot-animation-time)
    calc(var(--dot-animation-delay) * 1) ease-in-out infinite;
}
.dot-3 {
  animation: dot-spin var(--dot-animation-time)
    calc(var(--dot-animation-delay) * 2) ease-in-out infinite;
}
.dot-4 {
  animation: dot-spin var(--dot-animation-time)
    calc(var(--dot-animation-delay) * 3) ease-in-out infinite;
}
.dot-5 {
  animation: dot-spin var(--dot-animation-time)
    calc(var(--dot-animation-delay) * 4) ease-in-out infinite;
}
.dot-6 {
  animation: dot-spin var(--dot-animation-time)
    calc(var(--dot-animation-delay) * 5) ease-in-out infinite;
}

@keyframes dot-spin {
  0% {
    transform: rotate(0) translateY(-10em);
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) translateY(-10em);
  }
}

@keyframes text-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
